*
{
	margin: 0px;
	padding: 0px;
}
html,body,#outer
{
	height: 100%;
	width: 100%;
}
#outer
{
	position: relative;
} 
#inner
{
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 100%;
	height: 500%;
	text-align: center;
}
#h1,#h2,#h3,#h4
{
	position: absolute;
}
#h1
{
	width: 25%;
	top: 50px;
	left: 10%;
	animation: h1 1.9s infinite;
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
}
@keyframes h1
{
	0%{width: 0;}
	0%{top: 850px;}
	0%{left: 40%}
}
#h2
{
	width: 15%;
	top: 120px;
	left: 40%;
	animation: h2 2s infinite;
}
@keyframes h2
{
	0%{width: 0%;}
	0%{top: 900px;}
	0%{left: 50%}
}
#h3
{
	width: 15%;
	top: 0px;
	left: 55%;
	animation: h3 2.5s infinite;
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
}
@keyframes h3
{
	0%{width: 0%;}
	0%{top: 800px;}
	0%{left: 50%}
}
#h4
{
	width: 15%;
	top: 250px;
	left: 80%;
	animation: h4 1.7s infinite;
}
@keyframes h4
{
	0%{width: 0%;}
	0%{top: 850px;}
	0%{left: 40%}
}
#imgh54
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#surface
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
#div1,#div2,#div3,#div4,#div5
{
	height: 20%;
	width: 100%;
}
 #d11
{
	width: 100% ;
	margin: auto;
	text-align: center;
}
#d110
{
	padding-top: 10%;
	float: left;
	display: inline-block;
	width: 20%;
}
#img27
{
	width: 150%;
	height: 90%;
	margin-left: 50px;
	animation: img27 1s infinite ;
}
@keyframes img27
{
	0%{width: 120%}
}
#d111
{
	padding-top: 16%;
	display: inline-block;
	width: 20%;
	height: 20%;

}
#img26
{
	position: relative;
	left: -57%;
	top: 55px;
	width: 180%;
	height: 120%;
}
#img25
{
	position: relative;
	top: 50px;
	left: -70%;
	width: 200%;
	height: 100%;
}
#d12
{
	width: 100%;
	margin-top:60%;
	text-align: center;
}
#img24
{
	width: 50%;
	height: 50%;
	margin-left: 10px;
}



#d21
{
	margin-top:10%; 
	position: relative;
	width: 100% ;
	height: 50%;
}
#img23
{
	position: absolute;
	left: 1%;
	width: 25%;
	height: 60%;
	z-index: 1;
	animation: img23 2s infinite;
}
@keyframes img23
{
	0%{transform: rotate(-20deg);}
	50%{transform: rotate(20deg)}
	100%{transform: rotate(-20deg)}
}
#imgw1
{
	width: 80%;
	height: 650px;
	position: relative;
}
#d22
{
	width: 100%;
	position: relative;
	margin-top: -15%; 
}
#img21
{
	width: 40%;
	height: 40%;
}
#img22
{
	position: absolute;
	left: 80%;
	top: -90%;
	height: 65%;
	animation: img22 3s infinite;
	animation-delay:16s;
	-webkit-animation-delay:16s;
}
@keyframes img22
{
	0%{margin-top: 300px;}
	0%{margin-left: -30%}
}
#d23
{
	text-align: center;
	margin-top: 15%; 
}
#img20
{
	width: 60%;
	height: 80%;
}



#d31
{
	width:100%;
	margin: auto;
	text-align: center;
	margin-top: 20%;
	position: relative;
}
#d31 div
{
	display: inline-block;
}
#d311
{
	width: 20%;
	position: absolute;
	left: 5%;
}
#img19
{
	width: 100%;
}
#img17
{
	width: 60%;
	position: relative;
	z-index: 1;
}
#d312
{
	width: 70%;
}
#imgw2
{
	width: 105%;
	height: 150%;
	position: relative;
}
#d313
{
	float: right;
	width: 10%;
	position: relative;
	left: -25px;
}
#img18
{
	height: 100px;
	position: relative;
	left: -30%;
	top: -300px;
}
#img15
{
	width: 200%;
	position: relative;
	top: -320px;
	left: 80%;
}
#img16
{
	width:200%;
	position: relative;
	top: -350px;
	left: -80%;
}
#d32
{
	width: 100%;
	margin: auto;
	position: relative;
	top: -15%;
}
#img14
{
	width: 40%;
	position: relative;
	top: -250px;
	left: 20%
}
#d33
{
	width:100%;
	height: 550px;
	text-align: right;
}
#img12
{
	width: 30%;
	position: relative;
	top: -100px;
}
#img13
{
	width: 25%;
	position: relative;
	top: -50px;
}
#img11
{
	position: relative;
	animation: img11 2s infinite;
	animation-delay:12s;
	-webkit-animation-delay:12s;
	animation-fill-mode:forwards;
}
@keyframes img11
{
	0%{width: 15%;}
	0%{left: 0px;}
	0%{top: -100px;}
	100%{top: -330px;}
	100%{width: 100%;}
}


#d41
{
	position: relative;
	top: -200px;
	margin: auto;
	width: 100%;
}
#d41 div
{
	display: inline-block;
}
#d411
{
	margin-left: -15%; 
	text-align: left;
	width: 20%;
}
#img7
{
	width: 150%;
}
#img6
{
	width: 120%;
	position: relative;
	animation: img6 2s infinite;
	animation-delay:1s;
	-webkit-animation-delay:1s;
}
@keyframes img6
{
	0%{top: 0px;}
	50%{top: 60px;}
	100%{top: 0px;}
}

#img9
{
	width: 150%;
	position: relative;;
}
#d412
{
	width: 50%;
	position: relative;
	left: -8%;
}
#imgw3
{
	width: 150%;
	height: 50%;
}
#d413
{
	width: 15%;
}
#img8
{
	width: 170%;
	position: relative;
	left: 10%;
	top: -150px;
	animation: img8 2s infinite;
}
@keyframes img8
{
	0%{top: 0px;}
	50%{top: 60px;}
	100%{top:0px;}
}

#img10
{
	width: 150%;
	left: 10%;
	position: relative;
}
#d42
{
	text-align: center;
}
#img5
{
	width: 12%;
	position: relative;
	top: -100px;
	animation: img5 2s infinite;
	animation-iteration-count: 1;
	animation-delay:8s;
	-webkit-animation-delay:8s;
}
@keyframes img5
{
	0%{margin-left: -100px;}
	0%{width: 8%;}
}
#img4
{
	width: 70%;
}




#div5
{
	text-align: center;
	margin-top: 35%; 
	position: relative;
}
#d51
{
	height: 500px;
}
#imgw4
{
	width: 80%;
	animation: imgw4 2s infinite;
	animation-iteration-count: 1;
	animation-delay:4s;
	-webkit-animation-delay:4s;
}
@keyframes imgw4
{
	0%{width: 60%}
	50%{width: 70%}
	100%{width: 60%}
}

#d52
{
	position: relative;
	height: 40%;
}
#img3
{
	width: 80%;
}


#d53
{
	margin-top:15%;
	width: 100%;
	position:relative;
}
#img1,#img2
{
	width: 30%;
}

#img1
{
	width: 30%;
	float: left;
	left: 20% ;
	position: relative;
	bottom: 0px;
	animation: nvZuo 3s ;
	animation-iteration-count: 1;
}
@keyframes nvZuo
{
	0%{width: 20%;}
	0%{margin-left: -20%;}
}
#img2
{
	float: right;
	width: 15%;
	position: relative;
	animation: manRi 2s;
	animation-iteration-count: 1;
	animation-delay:2s;
	-webkit-animation-delay:2s;
	animation-fill-mode:forwards;
}
@keyframes manRi
{
	0%{width: 15%;}
	0%{margin-right: 0px;}
	100%{width: 25%;}
	100%{margin-right: 20%;}
}
